

/* vvv smaller than tablet vvv */
@media only screen and (max-width: 768px) {

  .blog-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
  }


.blog-post-header{
  display:flex;
  width:100%;

  h2{
    font-size: 6em;
    margin-right: 50px;

  }
}

.blog-post-intro{
  display: flex;
  align-items: center;
  padding: 50px 20px 40px 20px;
  width:100%;
  background: rgb(249, 91, 0); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1); /* IE6-9 */

  h4{
  font-size:1.5em;
    letter-spacing: 1px;
  color: white;
  }
}

}
/* ^^^ smaller than tablet ^^^ */

/* vvv larger than tablet vvv */
@media only screen and (min-width: 769px) {

  .blog-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
  }

  .blog-post-header {
    display: flex;
    width: 45%;

    h2 {
      font-size: 6em;
      text-align: right;
      margin-right: 50px;

    }
  }

  .blog-post-intro {
    display: flex;
    align-items: center;
    width: 45%;
    padding: 25px;
    background: rgb(249, 91, 0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1); /* IE6-9 */

    h4 {
      font-size: 1.5em;
      letter-spacing: 1px;
      color: white;
    }
  }
}