footer{
  margin-top: 8%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 200px;
  width: 100%;
    background: rgb(249, 91, 0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 166, 23, 1) 0%, rgba(255, 231, 15, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1); /* IE6-9 */
}

.footer-icons{
  display: flex;
  align-items: flex-end;
  margin-bottom:15px;
  margin-left:15px;
  a{
    color: white;
    margin:15px;
  }
}

.footer-credits {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  margin-right: 30px;


  p {
    color: white;
    margin-bottom: 0rem;

  }
}