@charset "UTF-8";
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box; }

tml {
  font-size: 62.5%; }

body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #262626; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 900; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3 rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 2.5rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.1rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 8.0rem; }

  h2 {
    font-size: 3.0rem; }

  h3 {
    font-size: 2.5rem; }

  h4 {
    font-size: 3.0rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #262626;
  text-decoration: none; }

a:hover {
  color: darkgrey; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #ffa617;
  border-color: #ffa617; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #ff6417;
  border-color: #ff7817; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@media only screen and (max-width: 768px) {
  .hamburger-placement {
    display: flex;
    justify-content: flex-end; }

  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline-color: white; }
    .hamburger:hover {
      opacity: 0.7; }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
    .hamburger-box .hamburger-box:focus {
      background-color: white;
      border: none; }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

 /*
* Collapse
*/
  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--collapse .hamburger-inner::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
    .hamburger--collapse .hamburger-inner::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--collapse.is-active .hamburger-inner::after {
      top: 0;
      opacity: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
    .hamburger--collapse.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(-90deg);
      transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

  .hide-nav {
    display: none; }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px 20px 0px; }

  .nav-icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .nav-icons a {
      padding: 10px; }

  .nav-ul {
    display: flex;
    flex-direction: column; }
    .nav-ul .nav-li {
      text-align: center;
      list-style-type: none;
      margin: 25px; } }
@media only screen and (min-width: 769px) {
  nav {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto; }

  .hamburger {
    order: 5;
    display: none; }

  .nav-icons {
    display: flex;
    justify-content: space-around;
    margin: 15px 15px 0px 40px; }
    .nav-icons a {
      margin: 0px 15px 0px 0px; }

  .navbar-menu {
    display: flex; }

  .hide-nav {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .hide-nav .full-nav {
      display: flex; }

  .nav-ul {
    width: 100%;
    display: flex; }
    .nav-ul .nav-li {
      list-style-type: none;
      margin: 25px; } }
/* vvv smaller than tablet vvv */
@media only screen and (min-width: 768px) {
  .banner-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box; }

  .banner-container {
    display: flex;
    justify-content: flex-end;
    height: 900px;
    width: 100%; }

  .banner-gradient-block {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
    height: 900px;
    width: 80%;
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }

  .banner-h1 {
    margin-left: -193px; }
    .banner-h1 h1 {
      font-size: 10em;
      display: flex;
      align-items: center; }
      .banner-h1 h1 span {
        color: white; }

  .banner-h2 {
    margin: -55px 0px 110px 0px; }
    .banner-h2 h2 {
      color: white;
      font-size: 2em;
      font-weight: 400; }

  .about-content {
    flex-direction: row;
    flex-flow: row;
    display: flex; }

  .about-heading {
    padding: 65px 0px 45px 0px;
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    background-color: white;
    width: 40%; }
    .about-heading h1 {
      line-height: 0.9;
      text-align: right;
      margin-right: 25px; }

  .about-blurb {
    padding: 65px 0px 75px 25px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 45%; }
    .about-blurb p {
      color: white;
      order: 4;
      text-align: left;
      margin-bottom: 25px; } }
/* vvv smaller than tablet vvv */
@media only screen and (max-width: 769px) {
  .banner-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box; }

  .banner-container {
    height: 500px; }

  .banner-gradient-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 180px;
    width: 100%;
    padding: 50px 0px;
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }

  .banner-h1 h1 {
    color: white;
    font-size: 6em;
    display: flex;
    align-items: center; }
    .banner-h1 h1 span {
      color: white; }

  .banner-h2 {
    margin: -55px 0px 110px 0px; }
    .banner-h2 h2 {
      color: white;
      font-size: 2em;
      font-weight: 400; }

  .about-content {
    flex-direction: column;
    display: flex; }

  .about-heading {
    padding: 0px 0px 45px 0px;
    display: flex;
    align-self: flex-start;
    width: 100%; }
    .about-heading h1 {
      font-size: 4em;
      line-height: 0.9;
      text-align: left;
      margin-right: 25px; }

  .about-blurb {
    padding: 30px 0px 45px 0px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%; }
    .about-blurb p {
      color: #262626;
      order: 4;
      text-align: left;
      margin-bottom: 25px; } }
/* vvv smaller than tablet vvv */
@media only screen and (max-width: 400px) {
  .banner-container {
    height: 620px; } }
/* vvv smaller than tablet vvv */
@media only screen and (min-width: 768px) {
  .blog-posts {
    display: flex;
    margin-top: 0%; }

  .post-container {
    color: white;
    padding: 50px 20px;
    margin: 75px 0px 0px 0px;
    background-color: #FFA617;
    display: flex;
    flex-flow: column;
    width: 27%; }

  .post-container:hover {
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }

  .post-title {
    display: flex; }

  .post-blurb {
    display: flex; }

  .post-link {
    display: flex; }
    .post-link a {
      color: white; } }
/* vvv smaller than tablet vvv */
@media only screen and (max-width: 769px) {
  .blog-posts {
    display: flex;
    margin-top: 8%; }

  .post-container {
    color: white;
    padding: 50px 20px;
    margin-top: 50px;
    background-color: #FFA617;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 90%; }

  .post-container:hover {
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }

  .post-title {
    display: flex; }

  .post-blurb {
    display: flex; }

  .post-link {
    display: flex; }
    .post-link a {
      color: white; } }
footer {
  margin-top: 8%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  background: #f95b00;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
  /* IE6-9 */ }

.footer-icons {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  margin-left: 15px; }
  .footer-icons a {
    color: white;
    margin: 15px; }

.footer-credits {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  margin-right: 30px; }
  .footer-credits p {
    color: white;
    margin-bottom: 0rem; }

/* vvv smaller than tablet vvv */
@media only screen and (max-width: 768px) {
  .blog-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box; }

  .blog-post-header {
    display: flex;
    width: 100%; }
    .blog-post-header h2 {
      font-size: 6em;
      margin-right: 50px; }

  .blog-post-intro {
    display: flex;
    align-items: center;
    padding: 50px 20px 40px 20px;
    width: 100%;
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }
    .blog-post-intro h4 {
      font-size: 1.5em;
      letter-spacing: 1px;
      color: white; } }
/* ^^^ smaller than tablet ^^^ */
/* vvv larger than tablet vvv */
@media only screen and (min-width: 769px) {
  .blog-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box; }

  .blog-post-header {
    display: flex;
    width: 45%; }
    .blog-post-header h2 {
      font-size: 6em;
      text-align: right;
      margin-right: 50px; }

  .blog-post-intro {
    display: flex;
    align-items: center;
    width: 45%;
    padding: 25px;
    margin-bottom: 40px;
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }
    .blog-post-intro h4 {
      font-size: 1.5em;
      letter-spacing: 1px;
      color: white; } }
/* vvv smaller than tablet vvv */
@media only screen and (min-width: 768px) {
  .blog-page-posts {
    display: flex;
    margin-top: 0%; }

  .post-page-container {
    color: white;
    padding: 50px 20px;
    margin: 75px 12px 0px 13px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 27%;
    background-color: #FFA617; }

  .post-page-container:hover {
    background: #f95b00;
    /* Old browsers */
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }

  .post-page-title {
    display: flex; }

  .post-page-blurb {
    display: flex; }

  .post-page-link {
    display: flex; }
    .post-page-link a {
      color: white; } }
/* vvv smaller than tablet vvv */
@media only screen and (max-width: 769px) {
  .blog-page-posts {
    display: flex;
    margin-top: 8%; }

  .post-page-container {
    color: white;
    padding: 50px 20px;
    margin-top: 50px;
    background-color: #FFA617;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 90%; }

  .post-page-container-hover {
    background: #f95b00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa617 0%, #ffe70f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa617 0%, #ffe70f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#ffe70f', GradientType=1);
    /* IE6-9 */ }

  .post-page-title {
    display: flex; }

  .post-page-blurb {
    display: flex; }

  .post-page-link {
    display: flex; }
    .post-page-link a {
      color: white; } }

/*# sourceMappingURL=main.css.map */
